DATABASE_URL="postgresql://postgres:postgres@localhost:5432/erp_repuestos?schema=public"
AUTH_SECRET="super-secret-key"
AUTH_URL="http://localhost:3000"
AUTH_TRUST_HOST="true"
ADMIN_NAME="Administrador General"
ADMIN_EMAIL="admin@repuestospro.com"
ADMIN_PASSWORD="Admin123*"
